<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	
	<nav class="right-nav">
		<ul>
			<li id="subscribe-btn">
				<button>
					<a href="#" class="subscribe">Subscribe Now</a>
				</button>
			</li>
			<li id="log-in-btn">
				<button>
					<a href="#" class="log-in">Log In</a>
				</button>
			</li>
			<li id="gear-dropdown-btn" class="">
				<a href="#" class="">
					<i class="fas fa-cog"></i>
				</a>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>

<!-- <input class="w3-button w3-black" type="button" value="Input Button">
<button class="w3-button w3-black">Button Button</button>
<a href="https://www.w3schools.com" class="w3-button w3-black">Link Button</a>
-->
