<header class="masthead">
    <nav class="language-nav">
        <ul>    
            <li>
                <a href="">CSS</a>
            </li>
            <li>
                <a href="">HTML</a>
            </li>
            <li>
                <a href="">Javascript</a>
            </li>
            <li>
                <a href="">Ruby</a>
            </li>
        </ul>
    </nav>
    <img class="logo" src="/assets/AA_Times_Logo.png" alt="">
    <nav class="masthead-links">
        <ul>    
            <li>
                <button type="hidden"><%= Time.now.strftime("%A, %B %d, %Y")%> </button></li> 
            <li>
                <i class="far fa-newspaper"></i>
                <button><a href="">Today’s Paper</a></button>
            </li>
            <li>
                <i class="fas fa-video"></i>
                <button><a href="">Video</a></button>
            </li>
            <li>
                <button><a href="">77°F</a></button>
            </li>
            <li>
                <button><a href="">AAO <strong>+100%</strong></a></button>
            </li>
        </ul>
    </nav>
</header>


