<nav>
    <ul class="section-links">
        <li><a class="a-list" href="">World</a></li>
        <li><a class="a-list" href="">San Francisco</a></li>
        <li><a class="a-list" href="">New York</a></li>
        <li><a class="a-list" href="">Bootcamp Prep</a></li>
        <li><a class="a-list" href="">Jumpstart</a></li>
        <li><a class="a-list" href="">Online</a></li>
        <li><a class="a-list" href="">Marketing</a></li>
        <li><a class="a-list" href="">Sales</a></li>
        <li><a class="a-list" href="">TalentMatch</a></li>
        <li><a class="a-list" href="">Alumni</a></li>
        <li><a class="a-list" href="">ALL</a></li>
    </ul>
</nav>













